@media screen and (min-width: 375px) {
    
    .sectionfooter {
        padding-left: 5%;
        padding-right: 5%;
        background-color: var(--principal);
        color: var(--white);
        text-align: center;
    }

    .social img {
        float: left;
        padding: 1%;
    }

    .designed {
        line-height: 40px;
        text-align: right;
        font-style: italic;
    }

    .rights {
        margin-top: 10px;
    }
}
